@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .button {
        @apply px-2 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    /* border-radius: 20px; */
    /* -webkit-border-ra/dius: 20px; */
    /* -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }